<div class="footer_section">
    <div class="col">
      <p>
        © 2022 InsureOnline.com, All rights reserved
      </p>
    </div>
    <div class="col">
      <div class="menu-footer-holder">
        <a href="https://www.facebook.com/Insureonline-1762847680628451/" target="_blank" class="socialLink">
          <div alt="Facebook" class="facebook"></div>
        </a>
        <a href="https://www.instagram.com/insureonline.com_/" target="_blank" class="socialLink">
          <div alt="Instagram" class="instagram"></div>
        </a>
        <a href="https://www.linkedin.com/feed/" target="_blank" class="socialLink">
          <div alt="LinkedIn" class="linkedIn"></div>
        </a>
        <a href="https://www.youtube.com/channel/UCYeBQ5eRTJJ9B0bHNWpiGtg" target="_blank" class="socialLink">
          <div alt="youTube" class="youTube"></div>
        </a>
      </div>
    </di</div>
