<div class="banner-section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">
            <div class="top-section">
              <h2>Chicago, IL</h2>
              <h1>Car Insurance</h1>
            </div>
          </div>

          <div class="col-md-7">
            <div class="quote-here">
              <div class="row">
                <div class="col-md-8">
                  <div class="left-col">
                    <h2>Get a affordable Car Insurance Quote Here</h2>
                    <h1><button class="btn btn_quick-quote-section">Get a quick auto quote</button></h1>
                    <h3>Call us at: 844-358-5605</h3>
                  </div>
                </div>
                <div class="col-md-4">
                  <%= image_tag 'graphic_carinsurance.png', style: "width:100%" %>
                  <%# <img src="assets/images/graphic_carinsurance.png" class="img-fluid"> %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
